<%- include(partials + 'header.ejs' ) %>

    <link href="../css/excel-bootstrap-table-filter-style.css" rel="stylesheet">


    <%- include(partials + 'loading.ejs' ) %>

        <div id="content">
            <div class="container-fluid">
                <div class="row ">
                    <div class="col-12 text-center">
                        <h1 class="h3 mb-4 font-weight-bold text-primary" data-title>Metas</h1>
                    </div>

                    <div class="row" data-card></div>
                    <div class="col-lg-12 text-center">
                        <div class="form-row" data-powerbi></div>
                    </div>


                    <div data-features></div>

                    <div class="col-12 text-center mb-4">
                        <div data-settings></div>

                        <div class="card shadow text-grey bg-light">
                            <div class="card-header bg-light">
                                <div class="form-row">
                                    <div class="form-group col-3">
                                        <div class="text-xl font-weight-bold text-uppercase mb-1">Listado de Metas -
                                            Expectativa
                                        </div>
                                    </div>
                                    <% if(perfil==1 || perfil==4 || perfil==8) {%>
                                        <div class="form-group offset-md-7 col-2">
                                            <select class="form-control" data-filter-office>
                                                <option value="TODOS" selected>Todas las sucursal</option>
                                                <option value="1">PJC AUTOCENTRO</option>
                                                <option value="4">ENCARNACION</option>
                                                <option value="6">AUTOCENTRO SHOPPING CHINA</option>
                                                <option value="2">CDE AUTOCENTRO</option>
                                                <option value="3">BELLA VISTA</option>
                                                <option value="5">SALTO DEL GUAIRA</option>
                                                <option value="7">CAPITAN BADO</option>
                                                <option value="8">PINDOTY</option>
                                                <option value="9">CDE ATACADO</option>
                                                <option value="10">PJC TRUCK CENTER</option>
                                                <option value="11">MATRIZ</option>
                                                <option value="12">SANTA RITA</option>
                                                <option value="13">MARIANO ROQUE ALONSO</option>
                                            </select>
                                        </div>
                                        <% }%>
                                </div>
                            </div>
                            <div class="card-body text-left">
                                <div class="row no-gutters align-items-left">
                                    <div class="col mr-2">
                                        <div class="col-md-12 mb-2" style="line-height: 10px;">
                                            <a>
                                                <div class="form-row">
                                                    <div class="form-group text-left col-2">
                                                        Nombre
                                                    </div>
                                                    <div class="form-group col-5 text-center">
                                                        Progresso
                                                    </div>
                                                    <div class="form-group col-2 text-center">
                                                        Expectativa vendas
                                                    </div>
                                                    <div class="form-group col-3 text-center">
                                                        Expectativa faturamento
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <% amount.forEach(seller=> { %>
                                            <% let classprogress='bg-danger' ; if(seller.percentage>= 25 &&
                                                seller.percentage < 50) classprogress='bg-warning' ;
                                                    if(seller.percentage>= 50 && seller.percentage < 75)
                                                        classprogress='bg-info' ; if(seller.percentage>= 75 &&
                                                        seller.percentage < 100) classprogress='bg-success' ; %>

                                                            <div class="col-md-12 mb-2 border-bottom "
                                                                style="line-height: 10px;"
                                                                data-display="<%= seller.office %>">
                                                                <a data-id_salesman="<%= seller.id_salesman %>">
                                                                    <div class="form-row align-items-center">
                                                                        <div class="form-group text-left col-2">
                                                                            <p><strong>
                                                                                    <%= seller.name %>
                                                                                </strong>
                                                                            <p>
                                                                        </div>
                                                                        <div class="form-group col-5">
                                                                            <div class="progress">
                                                                                <div style="color:#000000;"
                                                                                    class="progress-bar progress-bar-striped <%= classprogress %>"
                                                                                    role="progressbar"
                                                                                    style="width: 100%;"
                                                                                    aria-valuenow="<%= seller.percentage %>"
                                                                                    aria-valuemin="0"
                                                                                    aria-valuemax="100">
                                                                                    <%= seller.percentage %> %
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group col-2 text-center">
                                                                            <%= seller.goalssum %>
                                                                        </div>
                                                                        <div class="form-group col-3 text-center">
                                                                            <% if(seller.expected){ %>
                                                                                <%= seller.expected.toLocaleString('en-US',
                                                                                    { style: 'currency' ,
                                                                                    currency: 'USD' })%>
                                                                                    <% } %>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </div>

                                                            <%}); %>
                                                                <div class="col-auto text-grey">
                                                                    Cumplimiento de objetivos para los próximos 12 meses
                                                                </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <input type="hidden" name="profile" id="profile" value="<%=perfil%>">
        <%- include(partials + 'script.ejs' ) %>
            <script type="module" src="../js/controllers/goalsController.js"></script>
            <script src="../js/libs/excel-bootstrap-table-filter-bundle.js"></script>
            <%- include(partials + 'footer.ejs' ) %>