<%- include(partials + 'header.ejs' ) %>
    <link href="../css/excel-bootstrap-table-filter-style.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/bootstrap-select.css" />

    <style>
        .column {
            min-height: 300px;
            min-width: 300px;
            display: flex;
            flex-grow: 1
        }
    </style>
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="col-md-12 text-center">
                <h1 class="h3 mb-4 font-weight-bold text-primary" data-title>Metas</h1>
            </div>
        </div>

        <%- include(partials + 'loading.ejs' ) %>

            <div class="row justify-content-md-center">
                <div class="col-md-10">
                    <ul class="nav justify-content-center nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="sellers-tab" data-toggle="tab" href="#sellers" role="tab"
                                aria-controls="sellers" aria-selected="true">Individual</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="offices-tab" data-toggle="tab" href="#offices" role="tab"
                                aria-controls="profile" aria-selected="false">Sucursales</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="ansa-tab" data-toggle="tab" href="#ansa" role="tab"
                                aria-controls="contact" aria-selected="false">ANSA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="include-tab" data-toggle="tab" href="#include" role="tab"
                                aria-controls="include" aria-selected="false">Fijar Metas</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="sellers" role="tabpanel"
                            aria-labelledby="sellers-tab">
                            <%- include(components + './graph/goalSellers.ejs' ) %>
                        </div>
                        <div class="tab-pane fade" id="offices" role="tabpanel" aria-labelledby="offices-tab">
                            <%- include(components + './graph/goalOffices.ejs' ) %>
                        </div>
                        <div class="tab-pane fade" id="ansa" role="tabpanel" aria-labelledby="ansa-tab">
                            <%- include(components + './graph/goalAnsa.ejs' ) %>
                        </div>
                        <div class="tab-pane fade" id="include" role="tabpanel" aria-labelledby="include-tab">
                            <%- include(components + './graph/goalInclude.ejs' ) %>
                        </div>
                    </div>

                    <div class="modal fade" id="uploadGoals" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Importar Excel</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">x</span>
                                    </button>
                                </div>
                                <form>
                                    <div class="modal-body">
                                        <div class="form-group col-md-12 text-center">
                                            <label>
                                                <h5>Seleccione el Excel que desea importar al sistema.</h5>
                                            </label>
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="file"
                                                    oninput="inputFile()" required>
                                                <label class="custom-file-label" id="filename"
                                                    for="validatedCustomFile">Buscar archivo...</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" type="button"
                                            data-dismiss="modal">Cancelar</button>
                                        <button type="submit" onclick="uploadGoals(event)" class="btn btn-success"><i
                                                class="fas fa-file-excel"> Importar</i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
    </div>

    <input type="hidden" name="profile" id="profile" value="<%=perfil%>">
    <%- include(partials + 'script.ejs' ) %>
        <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
        <script type="module" src="../js/controllers/goalsController.js"></script>
        <script src="../js/libs/excel-bootstrap-table-filter-bundle.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

            <%- include(partials + 'footer.ejs' ) %>