<div class="card shadow mt-4 mb-4">
    <div class="card-header">
        <h6 class="m-0 font-weight-bold text-primary">Buscar</h6>
    </div>
    <div class="card-body">
        <form data-search-goal-sellers>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="office">Sucursal</label>
                    <select name="office" class="form-control" data-office required>
                        <option value="" disabled selected>Sucursal</option>
                        <% offices.forEach(office=> { %>
                            <option value="<%=office.code%>"><%= office.name %></option>
                            <% }) %>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="seller">Vendedores</label>
                    <select name="seller" class="form-control" data-seller>
                        <option value="" disabled selected>Vendedores</option>
                        <% sellers.forEach(seller=> { %>
                            <option value="<%= seller.id_salesman %>" data-office="<%= seller.office %>"><%= seller.name %> - <%= seller.code %></option>
                        <% }) %>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="month">Mes</label>
                    <input class="form-control" required type="month" id="month" name="month">
                </div>
                <div class="form-group col-md-12 text-center">
                    <button data-btn-goal-sellers class="btn btn-info" type="submit">Buscar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div data-goal-users>
   
</div>